@color-first:#16a085;
@color-second:#1abc9c;

body{
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  color: #565656;
  background-color: #ecf0f1;
}

.hr{
  &-center{
    height: 3px;
    background-color: @color-second;
    width: 40%;
    display: block;
    margin: 0 auto;
  }
  &-left{
    height: 1px;
    width: 100px;
    margin-bottom: 20px;
    background-color: #ddd;
  }
}

/* Левая часть*/
.left_bar{
  border-top: 10px solid @color-second;
  margin-bottom: 30px;

  .social{
    text-align: center;
    background-color: @color-first;
    margin-bottom: 35px;
    padding: 20px;
    color: #ecf0f1;
    border-radius:  0 0 10px 10px;
    border-bottom-right-radius: 10px;

    a{
      color: #ecf0f1;
      margin-right: 5px;
      margin-left: 5px;
    }
    i.fa{
      background-color: #ecf0f1;
      color: @color-first;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      padding-top: 14px;
      &:hover{
        background-color: #bdc3c7;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
      }
    }
  }

  .user{

    &__head{
        text-align: center;
        h1{
          color: #34495e;
          font-weight: 600;
        }
        h5{
          font-weight: 600;
          color: #7f8c8d;
          font-size: 18pt;
        }
    }

    &__photo{
      img{
        border: 10px solid #bdc3c7;
      }
    }

    &__links{
      margin-top: 30px;

      i.fa{
        background-color: @color-second;
        color: #ecf0f1;
        width: 45px;
        height: 45px;
        padding-top: 13px;
        border-radius: 10px;
        font-size: 14pt;
        &:hover{
          background-color: #bdc3c7;
          transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -ms-transition: all 1s ease;
          -o-transition: all 1s ease;
        }
      }
      .hr-center{
        margin-top: 15px;
        background-color: #34495e;
      }
    }
  }
}
/* Правая часть*/
.right_bar{
  background-color: #fff;
  border-top: 10px solid @color-first;
  .navbar-left{
    .page-scroll{
        &:hover{
          background-color: #ffffff;
          transition: all 1s ease;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -ms-transition: all 1s ease;
          -o-transition: all 1s ease;
        }
    }
  }
  .main{
    padding: 0 20px 20px 20px;
    h1{
      /*text-align: right;*/
      margin-right: 80px;
      margin-top: 20px;
    }
    &__anchor{
      position: relative;
      padding-bottom: 10px;

      h1{
        padding-top: 5px;
        margin-bottom: 0px;
      }
    }
    &__badge{
      color: #fff;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
      text-align: center;
      top: 16px;
      right: 0px;
      background-color: #999999;
      border-radius: 50%;
      float: left;
      margin-right: 15px;
    }
    &__experience{
      p{margin-top: 10px;}
    }
    &__item{
      margin-top: 15px;
      margin-left: 60px;
      margin-bottom: 20px;
      position: relative;

      h1{
        margin-top: 0;
      }

      &:before{
        position: absolute;
        top: 0px;
        left: -68px;
        display: inline-block;
        content: " ";

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 70px 50px 0;
        border-color: transparent #d4d4d4 transparent transparent;
      }
      &:after{
        position: absolute;
        top: 1px;
        left: -65px;
        display: inline-block;
        content: " ";

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 70px 50px 0;
        border-color: transparent #ffffff transparent transparent;
      }

    }

    &__panel{
      /*width: calc( 100% - 75px );
      float: left;*/
      color: #34495e;
      border: 1px solid #d4d4d4;
      border-radius: 2px;
      padding: 20px;
      position: relative;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    }
  }
}